<div ng-controller="search-viewCtrl">
  <div id="searchForm">
    <input type="text" id="searchTopic" placeholder="Enter search term">
    <a type='button'><button ng-click="getResults()">SEARCH</button></a>
  </div>

  <div id="searchResults">
    <ul>
      <li ng-repeat="venue in venues | unique:'name' | orderBy:'year'">
        <div class="rightData">
          {{venue.score}}
        </div>
        <div class="leftData">
          <span class="name">{{venue.name}}</span>, {{venue.street}}<br />Restaurant reviewed {{venue.date}}
        </div>
      </li>
    </ul>
  </div>
</div>

